@{
    ViewBag.Title = "About Pictulr";
}

<h2>@ViewBag.Title:</h2>
<h3>@ViewBag.Message</h3>

<p><a href="https://github.com/AveryFinchum/Pictulr/blob/main/README.md">Read more on the Readme file.</a></p>
